- font_size = params[:font_size].present? ? params[:font_size] : '10px'
!!!
%html{ style: 'margin: 0; padding: 0; border: 0;'}
  %head
  %body{ style: 'margin: 0; padding: 0; overflow:hidden; border: 0;', scroll: "no" }
    #votes_count{ style: "font-size: #{font_size}; font-family: メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, helvetica, clean, sans-serif; overflow: hidden; text-align: center; line-height: 1; height: #{font_size}; width: 100%; position: absolute; top: 50%; margin-top: -5px;" }
      = @votes.count
